# These variables are used to initialize the PostgreSQL container.
# They set the default superuser and password for the new database.
POSTGRES_USER=test
POSTGRES_PASSWORD=1234qwer
POSTGRES_DB=boss_tracker
