# [App Info]
# This will be displayed as the page title
VITE_APP_TITLE="Artale BOSS Timer"

# [API & URLs]
# The base URL for the backend API
VITE_APP_BASE_URL='/api'

# The public path for the application, usually '/'
VITE_BASE_PUBLIC_PATH='/'

# WebSocket URL, for local dev, point to the backend port
VITE_WS_URL="localhost:1254"

# [Google Services]
# Your Google Analytics Measurement ID
VITE_ANALYTICS_ID="G-XXXXXXXXXX"

# Your Google Tag Manager ID
VITE_GTM_ID="GTM-XXXXXXX"

# Your Google OAuth Client ID for the frontend application
VITE_GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"

# [Microsoft Clarity]
# Your Microsoft Clarity Project ID
VITE_CLARITY_ID="XXXXXXXXXX"
